{% extends 'MainBundle::layout.html.twig' %}
{% block meta %}
    <meta name = "{% trans from 'refer' %} industries.title {% endtrans %}" >
    <meta name = "keywords" content = "{% trans from 'refer' %} industries.description {% endtrans %}" >
{% endblock %}
{% block title %}
    Semantica Technologies Corporation - STC / careers
{% endblock %}

{% block mycss %}
    <style>
        .position_title:hover {
            display:block;
            /*background-color: #9acd32;*/
            background-color: rgba(120, 191, 123, 0.5);
            cursor: pointer;
            /*opacity: 0.4;*/
        }
        .position_title {
            display:block;
            border-left: 5px solid yellowgreen;
            background-color: lightgray;
            width: 100%;
            float: right;
        }

        .position_details {
            display:inline-block;
            margin-top: 10px;
            width: 100%;
            float: right;
            overflow: hidden;
        }
        .position_wrapper {
            float: right;
            width: 50%;
            clear: both;
            margin-top: 10px;
        }

        .collapse_position {
            height: 0;
        }
    </style>
{% endblock %}
{% block header %}
    {{ parent() }}

    <img  src="{{ asset('data/img/jobs.png') }}" alt="">
{% endblock %}

{% block  main %}
    <div class="row" id="main_industries">

        <div class="row">


            <div class="section">
                <h5 class="center-align"> {% trans from 'aboutstc' %} careers.titles {% endtrans %} </h5>
                <br> <br>
                <div class="col s12 m6">
                    <img width="45" src="{{ asset('data/img/careers.jpg') }}" alt="">
                </div>
                <div class="col s12 m6">
                    <h6> {% trans from 'aboutstc' %} careers.descriptions {% endtrans %} </h6>
                    <p>
                        {% trans from 'aboutstc' %} careers.descriptions_content {% endtrans %}
                    </p>
                    <br>
                    <h6> {% trans from 'aboutstc' %} careers.responsability {% endtrans %} </h6>
                    <p>
                        {% trans from 'aboutstc' %} careers.responsability_content {% endtrans %}
                    </p>
                    <br>
                    <h6> {% trans from 'aboutstc' %} careers.quality {% endtrans %} </h6>
                    <p>
                        {% trans from 'aboutstc' %} careers.quality_content {% endtrans %}
                    </p>

                </div>

            </div>
        </div>

        <div class="position_wrapper">
            <div class="position_title">
                <div class="position">Software developer</div>
                <div class="location">Douala - Cameroon</div>
            </div>
        <div class="position_details">
            Bac + 5 or equivalent, you have professional experience Of at least 2 years in a similar position, on the following technologies: PHP5 / MYSQL, POO, WEBSERVICES, XSL, Knowledge in MySQL. - Autonomous, organized and rigorous, you are force of proposal and like working as a team, - Ability to skill quickly on the functional,Good analytical and team spirit, - Ability to supervise beginners and juniors, - Your passion for IT and your sense of service are as Of assets that will enable you to carry out your missions and to evolve in our company.

        </div>
        </div>

        <div class="position_wrapper">
            <div class="position_title">
                <div class="position">Senior Software developer</div>
                <div class="location">Douala - Cameroon</div>
            </div>

            <div class="position_details">
                Bac + 5 or equivalent, you have professional experience Of at least 2 years in a similar position, on the following technologies: PHP5 / MYSQL, POO, WEBSERVICES, XSL, Knowledge in MySQL. - Autonomous, organized and rigorous, you are force of proposal and like working as a team, - Ability to skill quickly on the functional,Good analytical and team spirit, - Ability to supervise beginners and juniors, - Your passion for IT and your sense of service are as Of assets that will enable you to carry out your missions and to evolve in our company.

            </div>
        </div>

        <div class="position_wrapper">
            <div class="position_title">
                <div class="position">Software developer</div>
                <div class="location">Yaounde - Cameroon</div>
            </div>

            <div class="position_details">
                Bac + 5 or equivalent, you have professional experience Of at least 2 years in a similar position, on the following technologies: PHP5 / MYSQL, POO, WEBSERVICES, XSL, Knowledge in MySQL. - Autonomous, organized and rigorous, you are force of proposal and like working as a team, - Ability to skill quickly on the functional,Good analytical and team spirit, - Ability to supervise beginners and juniors, - Your passion for IT and your sense of service are as Of assets that will enable you to carry out your missions and to evolve in our company.

            </div>
        </div>

        <div class="position_wrapper">
            <div class="position_title">
                <div class="position">Senior Software developer</div>
                <div class="location">Yaounde - Cameroon</div>
            </div>

            <div class="position_details">
                Bac + 5 or equivalent, you have professional experience Of at least 2 years in a similar position, on the following technologies: PHP5 / MYSQL, POO, WEBSERVICES, XSL, Knowledge in MySQL. - Autonomous, organized and rigorous, you are force of proposal and like working as a team, - Ability to skill quickly on the functional,Good analytical and team spirit, - Ability to supervise beginners and juniors, - Your passion for IT and your sense of service are as Of assets that will enable you to carry out your missions and to evolve in our company.

            </div>
        </div>

    </div>
{% endblock %}

{% block myjs %}
    <script>
        $( document ).ready(function() {
            $(".see_less").hide();
            $(".position_details").slideUp(1);

            $(".position_title").click(function(){
                $(".see_more").not(this).each(function () {
                    $(this).show();
                    $(this).siblings(".new_cert").removeClass("hg_400");
                    $(this).siblings(".see_less").hide();
                });
                //$(".position_details").toggleClass("collapse_position");
                $(".position_details").slideToggle(2500);
            });

            $(".see_less").click(
                    function(){
                        $(this).hide();
                        $(this).siblings(".see_more").show();
                        $(this).siblings(".new_cert").removeClass("hg_400");
                    }
            );

        });
    </script>
{% endblock %}
