<br>
<a href="" class="waves-effect waves-light btn">{% trans from 'forms' %} form.planning.new {% endtrans %}</a>
<table class="bordered highlight centered responsive-table">
    <thead>
    <tr>
        <th>{% trans from 'forms' %} form.planning.startdate {% endtrans %}</th>
        <th>{% trans from 'forms' %} form.planning.startdate {% endtrans %}</th>
        <th>#</th>
        <th>#</th>
    </tr>
    </thead>

    <tbody>
    {% if items!=null %}
        {% for item in items %}
           <tr>
               <td>{{ item.startdate|date('d-m-y') }}</td>
               <td>{{ item.enddate|date('d-m-y') }}</td>
               <td><a href=""><i class="material-icons">remove</i></a></td>
               <td><a href=""><i class="material-icons">edit</i></a></td>
           </tr>
        {% endfor %}
    {% else %}
        <tr>
            <td colspan="6">
                <h6> {% trans from 'forms' %} form.planning.empty {% endtrans %}</h6>
            </td>
        </tr>
    {% endif %}
    </tbody>
</table>


