{% extends 'MainBundle::layout.html.twig' %}
{% block meta %}
    <meta name="{% trans from 'refer' %} home.title {% endtrans %}" xmlns="http://www.w3.org/1999/html">
    <meta name = "keywords" content = "{% trans from 'refer' %} home.description {% endtrans %}" >
{% endblock %}
{% block title %}
    Semantica Technologies Corporation - STC / Contact
{% endblock %}

{% block mycss %}
    <style>

    </style>
{% endblock %}
{% block header %}
    {{ parent() }}
    {% include 'MainBundle:Inc:slide.html.twig' %}
{% endblock %}

{% block  main %}
    <div class="row" id="main_contact">

        <div class="row">
            <div class="section">
                <h5 class="center-align" style="color: #9acd32"><strong> {% trans from 'formation' %} contact.title {% endtrans %}</strong></h5>
                <br> <br>
                <div class="col s12 m6" >
                    <img width="700" align="center" src="{{ asset('data/img/formation3.jpg') }}" alt="">
                    <table>
                        <tr>
                            <th> <h5> {% trans from 'formation' %} contact.cameroun {% endtrans %}</h5> </th>
                        <tr>
                            <td width="400">

                                <h4>{% trans from 'formation' %} contact.ville {% endtrans %} </h4>
                                <p><b>{% trans from 'formation' %} contact.ville1 {% endtrans %}</b><i>{% trans from 'formation' %} contact.ville1_content {% endtrans %}</i></p>
                                </br>
                                </br>
                                </br>
                                </br>
                                </br>
                                </br>
                                </br>
                                <p><b>{% trans from 'formation' %} contact.ville2 {% endtrans %}</b><i>{% trans from 'formation' %} contact.ville2_content {% endtrans %}</i></p>
                                <br>


                            </td>


                        </tr>

                        </tr>
                        <tr>
                            <td>
                                </br>
                                </br>
                                </br>
                                </br>
                                </br>
                                </br>
                                </br>
                                </br>
                                </br>
                                </br>
                                </br>

                            </td>
                        </tr>


                        <tr>
                            <td>
                                <h6><b>{% trans from 'formation' %} contact2.ville5 {% endtrans %} </b></h6>
                            </td>
                        </tr>

                        <tr>
                            <th> <h5>{% trans from 'formation' %} contact.etranger {% endtrans %}</h5>  </th>
                        <tr>
                            <td>
                                <b><h5>{% trans from 'formation' %} contact.ville {% endtrans %}</h5> </b>
                                <p></p>
                                <p><b>{% trans from 'formation' %} contact.london {% endtrans %}</b> <i>{% trans from 'formation' %} contact.london_content {% endtrans %}</i></p>
                                </br>
                                </br>
                                </br>
                                </br>
                                </br>
                                </br>
                                </br>
                                <p><b>{% trans from 'formation' %} contact.paris {% endtrans %}</b> <i>{% trans from 'formation' %} contact.paris_content {% endtrans %}</i></p>
                                <br>

                            </td>


                        </tr>
                        </tr>

                    </table>
                </div>

                <div class="col s12 m6" >
                    </br>
                    </br>
                    </br>
                    </br>
                    </br>
                    </br>
                    </br>
                    </br>
                    </br>
                    </br>
                    </br>
                    </br>
                    </br>
                    </br>
                    </br>
                    </br>
                    </br>
                    </br>
                    </br>
                    </br>
                    </br>
                    </br>
                    <table>
                        <tr>
                            <th> <h5><strong>{% trans from 'formation' %} contact2.cameroun2 {% endtrans %}</strong></h5> </th>
                        <tr>
                            <td width="400">

                                <h6><b>{% trans from 'formation' %} contact2.ville2 {% endtrans %} </b></h6>
                                <p><b>{% trans from 'formation' %} contact2.ville12 {% endtrans %}</b><i>{% trans from 'formation' %} contact2.ville1_content2 {% endtrans %}</i></p>
                                <p><b>{% trans from 'formation' %} contact2.ville22 {% endtrans %}</b><i>{% trans from 'formation' %} contact2.ville2_content2 {% endtrans %}</i></p>
                                <br>
                            </td>
                            <td>
                                <h6><b>{% trans from 'formation' %} contact2.numero2 {% endtrans %}</b></h6>
                                <p>{% trans from 'formation' %} contact2.cameroun_phone2 {% endtrans %} </p>
                                <a href="http://camerounstc@yahoo.fr">{% trans from 'formation' %} contact2.write {% endtrans %}</a>
                            </td>
                        </tr>
                        </tr>

                        <tr>
                            <p>
                            <th><h5><strong> {% trans from 'formation' %} contact2.etranger2 {% endtrans %}</strong></h5> </th>
                            </p>
                        <tr>
                            <td>

                                <h6><b>{% trans from 'formation' %} contact2.ville4 {% endtrans %} </b></h6>
                                <p></p>
                                <p><b>{% trans from 'formation' %} contact2.london2 {% endtrans %}</b> <i>{% trans from 'formation' %} contact2.london_content2 {% endtrans %}</i></p>
                                <p><b>{% trans from 'formation' %} contact2.paris2 {% endtrans %}</b> <i>{% trans from 'formation' %} contact2.paris_content2 {% endtrans %}</i></p>
                                <p>
                                <a href="{{ path('main_certification') }}">{% trans from 'formation' %} contact2.certif {% endtrans %}</a>
                                </p>

                                <br>

                            </td>
                            <td>
                                <h6><b>{% trans from 'formation' %} contact2.numero2 {% endtrans %}</b></h6>
                                <p>{% trans from 'formation' %} contact2.london_phone2 {% endtrans %} </p>
                                <p>{% trans from 'formation' %} contact2.paris_phone2 {% endtrans %} </p>
                                <a href="http://camerounstc@yahoo.fr">{% trans from 'formation' %} contact2.write {% endtrans %}</a>

                            </td>

                        </tr>
                        </tr>

                    </table>
                </div>

            </div>
        </div>
    </div>
{% endblock %}

{% block myjs %}
    <script>

    </script>
{% endblock %}
