{% extends 'MainBundle::layout.html.twig' %}
{% block meta %}
    <meta name = "{% trans from 'refer' %} home.title {% endtrans %}" >
    <meta name = "keywords" content = "{% trans from 'refer' %} home.description {% endtrans %}" >
{% endblock %}
{% block title %}
    Semantica Technologies Corporation - STC / Contact
{% endblock %}

{% block mycss %}
    <style>
        .img_wrap {
            position: relative;
            border: 2px solid green;
            width: 100%;
            height: 400px;

        }
        .img_text {
            position: absolute;
            font-size: 60px;
            font-weight: bold;
            color:#5cb811;
            /*top: 790px;
            margin-top: 760px;*/
            margin-top: 59%;
            z-index: 10;
            display: inline-block;
        }

        .img_f {

            /* margin-top: 10px !important;*/
             position: absolute;
            top:100px;

        }
        .img_div {
            padding: 1px;
            position: relative;
            top: 20px;
            display: block;

        }

        .img_di {
            visibility: hidden;
            padding: 1px;
            display: none;
            top: 20px;
            display: block;
        }


    </style>
{% endblock %}
{% block header %}
    {{ parent() }}
    {% include 'MainBundle:Inc:slide.html.twig' %}
{% endblock %}

{% block  main %}


    <div class="img_div">
    <h5 class="center-align" style="color: #9acd32"><strong>{% trans from 'formation' %} formation.title {% endtrans %}</strong></h5>
        <div class="img_text">{% trans from 'formation' %} formation.image {% endtrans %}</div>
        <img class="img_f" width="100%"   src="{{ asset('data/img/formation3.jpg') }}" alt="">
    </div>

     <div class="img_di">
        <img class="im_f" width="100%"   src="{{ asset('data/img/formation3.jpg') }}" alt="">
    </div>



                <div class="row">

                 <div class="section">

                <br> <br>



                <div class="col s12">


                    <table class="striped">
                        <thead>
                        <th style="font-size: 150%"> {% trans from 'formation' %} formation.cameroun {% endtrans %} </th>

                        </thead>
                        <tbody>
                        <tr>
                            <td>

                                <p><b>{% trans from 'formation' %} formation.ville1 {% endtrans %}</b><i>{% trans from 'formation' %} formation.ville1_content {% endtrans %}</i></p>
                                <p><b>{% trans from 'formation' %} formation.ville2 {% endtrans %}</b><i>{% trans from 'formation' %} formation.ville2_content {% endtrans %}</i></p>
                                <br><br><b></b>



                            </td>
                            <td>
                                <p>{% trans from 'formation' %} formation.android {% endtrans %} </p>
                                <p>{% trans from 'formation' %} formation.ibm {% endtrans %} </p>
                                <p>{% trans from 'formation' %} formation.mta {% endtrans %} </p>
                                <p>{% trans from 'formation' %} formation.kony {% endtrans %} </p>
                                <p>{% trans from 'formation' %} formation.ccnp {% endtrans %} </p>
                                <p>{% trans from 'formation' %} formation.ccna {% endtrans %} </p>
                                <p>{% trans from 'formation' %} formation.ccie {% endtrans %} </p>
                                <p>{% trans from 'formation' %} formation.ocp {% endtrans %} </p>



                            </td>
                            <td>
                                <p>{% trans from 'formation' %} formation.cameroun_phone {% endtrans %} </p>
                                <p><a href="#">{% trans from 'formation' %} formation.souscrire {% endtrans %} </a></p>
                                <br><br>

                            </td>

                        </tr>

                        </tbody>
                        <thead>

                        <th style="font-size: 150%"> {% trans from 'formation' %} formation.etranger {% endtrans %} </th>

                        </thead>
                        <tbody>
                        <tr>
                            <td>

                                <p><b>{% trans from 'formation' %} formation.london {% endtrans %}</b><i>{% trans from 'formation' %} formation.london_content {% endtrans %}</i></p>
                                <p><b>{% trans from 'formation' %} formation.paris {% endtrans %}</b><i>{% trans from 'formation' %} formation.paris_content {% endtrans %}</i></p>
                                <br><br><b></b>



                            </td>
                            <td >
                                <p>{% trans from 'formation' %} formation.ace {% endtrans %} </p>
                                <p>{% trans from 'formation' %} formation.mscd {% endtrans %} </p>
                                <p>{% trans from 'formation' %} formation.aws {% endtrans %} </p>
                                <p>{% trans from 'formation' %} formation.csslp {% endtrans %} </p>
                                <p>{% trans from 'formation' %} formation.ccdh {% endtrans %} </p>
                                <p>{% trans from 'formation' %} formation.java {% endtrans %} </p>
                                <p>{% trans from 'formation' %} formation.csd {% endtrans %} </p>


                            </td>
                            <td >
                                <p>{% trans from 'formation' %} formation.etranger_phone{% endtrans %} </p>
                                <p><a href="#">{% trans from 'formation' %} formation.souscrire {% endtrans %} </a></p>
                                <br><br>

                            </td>

                        </tr>

                        </tbody>

                    </table>
                </div>



            </div>
        </div>
    </div>



{% endblock %}

{% block myjs %}
    <script>

    </script>
{% endblock %}
