{% extends 'MainBundle::layout.html.twig' %}
{% block meta %}
    <meta name = "{% trans from 'refer' %} home.title {% endtrans %}" >
    <meta name = "keywords" content = "{% trans from 'refer' %} home.description {% endtrans %}" >
{% endblock %}
{% block title %}
    Semantica Technologies Corporation - STC / Contact
{% endblock %}

{% block mycss %}
    <style>

    </style>
{% endblock %}
{% block header %}
    {{ parent() }}
    {% include 'MainBundle:Inc:slide.html.twig' %}
{% endblock %}

{% block  main %}
    <div class="row" id="main_contact">

        <div class="row">


            <div class="section">
                <h5 class="center-align" style="color: #9acd32"><strong>{% trans from 'formation' %} formation.title {% endtrans %}</strong></h5>
                <br> <br>
                <div class="col s12">
                    <img width="100%"   src="{{ asset('data/img/formation3.jpg') }}" alt="">
                    <table class="striped">
                        <thead>
                        <th style="font-size: 150%"> {% trans from 'formation' %} formation.cameroun {% endtrans %} </th>

                        </thead>
                        <tbody>
                        <tr>
                            <td>

                                <p><b>{% trans from 'formation' %} formation.ville1 {% endtrans %}</b><i>{% trans from 'formation' %} formation.ville1_content {% endtrans %}</i></p>
                                <p><b>{% trans from 'formation' %} formation.ville2 {% endtrans %}</b><i>{% trans from 'formation' %} formation.ville2_content {% endtrans %}</i></p>
                                <br><br><b></b>



                            </td>
                            <td>
                                <p>{% trans from 'formation' %} formation.android {% endtrans %} </p>
                                <p>{% trans from 'formation' %} formation.ibm {% endtrans %} </p>
                                <p>{% trans from 'formation' %} formation.mta {% endtrans %} </p>
                                <p>{% trans from 'formation' %} formation.kony {% endtrans %} </p>
                                <p>{% trans from 'formation' %} formation.ccnp {% endtrans %} </p>
                                <p>{% trans from 'formation' %} formation.ccna {% endtrans %} </p>
                                <p>{% trans from 'formation' %} formation.ccie {% endtrans %} </p>
                                <p>{% trans from 'formation' %} formation.ocp {% endtrans %} </p>



                            </td>
                            <td>
                                <p>{% trans from 'formation' %} formation.cameroun_phone {% endtrans %} </p>
                                <p><a href="#">{% trans from 'formation' %} formation.souscrire {% endtrans %} </a></p>
                                <br><br>

                            </td>

                        </tr>

                        </tbody>
                        <thead>

                        <th style="font-size: 150%"> {% trans from 'formation' %} formation.etranger {% endtrans %} </th>

                        </thead>
                        <tbody>
                        <tr>
                            <td>

                                <p><b>{% trans from 'formation' %} formation.london {% endtrans %}</b><i>{% trans from 'formation' %} formation.london_content {% endtrans %}</i></p>
                                <p><b>{% trans from 'formation' %} formation.paris {% endtrans %}</b><i>{% trans from 'formation' %} formation.paris_content {% endtrans %}</i></p>
                                <br><br><b></b>



                            </td>
                            <td >
                                <p>{% trans from 'formation' %} formation.ace {% endtrans %} </p>
                                <p>{% trans from 'formation' %} formation.mscd {% endtrans %} </p>
                                <p>{% trans from 'formation' %} formation.aws {% endtrans %} </p>
                                <p>{% trans from 'formation' %} formation.csslp {% endtrans %} </p>
                                <p>{% trans from 'formation' %} formation.ccdh {% endtrans %} </p>
                                <p>{% trans from 'formation' %} formation.java {% endtrans %} </p>
                                <p>{% trans from 'formation' %} formation.csd {% endtrans %} </p>


                            </td>
                            <td >
                                <p>{% trans from 'formation' %} formation.etranger_phone{% endtrans %} </p>
                                <p><a href="#">{% trans from 'formation' %} formation.souscrire {% endtrans %} </a></p>
                                <br><br>

                            </td>

                        </tr>

                        </tbody>

                    </table>
                </div>

            </div>
        </div>
    </div>
{% endblock %}

{% block myjs %}
    <script>

    </script>
{% endblock %}
