{% extends 'MainBundle::layout.html.twig' %}
{% block meta %}
    <meta name = "{% trans from 'refer' %} industries.title {% endtrans %}" >
    <meta name = "keywords" content = "{% trans from 'refer' %} industries.description {% endtrans %}" >
{% endblock %}
{% block title %}
    Semantica Technologies Corporation - STC / Industries
{% endblock %}

{% block mycss %}
    <style>

    </style>
{% endblock %}
{% block header %}
    {{ parent() }}
    {% include 'MainBundle:Inc:slide.html.twig' %}
{% endblock %}

{% block  main %}
    <div class="row" id="main_industries">

        <div class="row">


            <div class="section">
                <h5 class="center-align"> {% trans from 'footer' %} about.investor {% endtrans %} </h5>
                <br> <br>
                <div class="col s12 m6">
                    <img width="45" src="{{ asset('data/img/policy.jpg') }}" alt="">
                    <p>
                    <h6> {% trans from 'footer' %} about.block1 {% endtrans %} </h6>
                    </p>
                    <p>
                        {% trans from 'footer' %} about.block1_content {% endtrans %}
                    </p>
                    <p>
                        {% trans from 'footer' %} about.block12_content {% endtrans %}
                    </p>
                    <h6> {% trans from 'footer' %} about.block3 {% endtrans %} </h6>
                    <p>

                        {% trans from 'footer' %} about.block31_content {% endtrans %}
                    </p>
                    <p>
                        {% trans from 'footer' %} about.block32_content {% endtrans %}
                    </p>
                    <h6> {% trans from 'footer' %} about.block4 {% endtrans %} </h6>
                    <p>
                        {% trans from 'footer' %} about.block4_content {% endtrans %}
                    </p>
                    <h6> {% trans from 'footer' %} about.block5 {% endtrans %} </h6>
                    <p>
                        {% trans from 'footer' %} about.block5_content {% endtrans %}
                    </p>
                    <h6> {% trans from 'footer' %} about.block6 {% endtrans %} </h6>
                    <p>
                        {% trans from 'footer' %} about.block61_content {% endtrans %}
                    </p>
                    <p>
                        {% trans from 'footer' %} about.block62_content {% endtrans %}
                    </p>
                    <h6> {% trans from 'footer' %} about.block9 {% endtrans %} </h6>
                    <p>
                        {% trans from 'footer' %} about.block9_content {% endtrans %}
                    </p>
                    <h6> {% trans from 'footer' %} about.block10 {% endtrans %} </h6>
                    <p>
                        {% trans from 'footer' %} about.block10_content {% endtrans %}
                    </p>
                </div>
                <div class="col s12 m6">
                    <h6> {% trans from 'footer' %} about.block7 {% endtrans %} </h6>
                    <p>
                        {% trans from 'footer' %} about.block7_content {% endtrans %}
                    </p>
                    <br>
                    <h6> {% trans from 'footer' %} about.block8 {% endtrans %} </h6>
                    <p>
                        {% trans from 'footer' %} about.block81_content {% endtrans %}
                    </p>
                    <p>
                        {% trans from 'footer' %} about.block82_content {% endtrans %}
                    </p>
                    <p>
                        {% trans from 'footer' %} about.block83_content {% endtrans %}
                    </p>
                    <p>
                        {% trans from 'footer' %} about.block84_content {% endtrans %}
                    </p>
                    <p>
                        {% trans from 'footer' %} about.block85_content {% endtrans %}
                    </p>
                    <p>
                        {% trans from 'footer' %} about.block86_content {% endtrans %}
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block myjs %}
    <script>

    </script>
{% endblock %}
