<div class="first-row">
    <div class="first-row-menu">
        <ul>
            <li><a href="{{ path('main_homepage') }}">{% trans from 'firstnav' %} nav.login {% endtrans %}</a></li>
            {% if app.user!=null %}
                <li><a href="{{ path('main_private') }}">{% trans from 'firstnav' %} nav.signup {% endtrans %}</a></li>
            {% else %}
                <li><a href="{{ path('main_homepage') }}#sendmail">{% trans from 'nav' %} nav.signup {% endtrans %}</a></li>
            {% endif %}
            <li><a href="{{ path('main_homepage') }}#contact">{% trans from 'firstnav' %} nav.contact {% endtrans %}</a></li>
            <li><a href="">{% trans from 'firstnav' %} nav.careers {% endtrans %}</a></li>
        </ul>
    </div>
</div>