<footer class="page-footer black" style="bottom: 0px;">
    <div class="container">
        <div class="row">
            <div class="col  s12 center-align">
               <strong class="white-text">Copyright © 2017 Semantica Technologies Corporation - STC - All Rights Reserved.</strong>
                <h5 class="white-text">-------</h5>
                <strong class="white-text">
                    Powered by GoDaddy
                </strong>
            </div>
        </div>
    </div>
</footer>