<footer class="page-footer" >
    <div class="">
        <div class="row">
            <div class="col s12 m6 l2">
                <h6>
                    {% trans from 'footer' %} about.title {% endtrans %}
                </h6>
                <p>
                    <a href=""> {% trans from 'footer' %} about.corporate {% endtrans %} </a>
                </p>
                <p>
                <p>
                    <a href=""> {% trans from 'footer' %} about.news {% endtrans %} </a>
                </p>
                <p>
                    <a href=""> {% trans from 'footer' %} about.investor {% endtrans %} </a>
                </p>
                <p>
                    <a href=" {{ path ('main_careers') }}"> {% trans from 'footer' %} about.carreers {% endtrans %} </a>
                </p>
                <p>
                    <a href=""> {% trans from 'footer' %} about.contact {% endtrans %} </a>
                </p>
            </div>
            <div class="col s12 m6 l2">
                <h6>
                    {% trans from 'footer' %} education.title {% endtrans %}
                </h6>
                <p>
                    <a href=""> {% trans from 'footer' %}  education.training {% endtrans %} </a>
                </p>
                <p>
                <p>
                    <a href=""> {% trans from 'footer' %}  education.certification {% endtrans %} </a>
                </p>
                <p>
                    <a href=""> {% trans from 'footer' %}  education.universite {% endtrans %} </a>
                </p>
                <p>
                    <a href=""> {% trans from 'footer' %}  education.freeonline {% endtrans %} </a>
                </p>
                <p>
                    <a href=""> {% trans from 'footer' %} about.contact {% endtrans %} </a>
                </p>
            </div>
            <div class="col s12 m6 l2">
                <h6>
                    {% trans from 'footer' %} site.title {% endtrans %}
                </h6>
                <p>
                    <a href=""> {% trans from 'footer' %}  site.url {% endtrans %} </a>
                </p>
                <p>
                <p>
                    <a href=""> {% trans from 'footer' %}  site.dev {% endtrans %} </a>
                </p>
                <p>
                    <a href=""> {% trans from 'footer' %}  site.support {% endtrans %} </a>
                </p>
                <p>
                    <a href=""> {% trans from 'footer' %}  site.partner {% endtrans %} </a>
                </p>
                <p>
                    <a href=""> {% trans from 'footer' %} site.lab {% endtrans %} </a>
                </p>
            </div>
            <div class="col s12 m6 l2">
                <h6>
                    {% trans from 'footer' %} preference.title {% endtrans %}
                </h6>
                <p>
                    <a href="http://semanticatechnologies.com/en/login"> {% trans from 'footer' %}  preference.login {% endtrans %} </a>
                </p>
                <p>
                <p>
                    <a href="mailto:pascal4400@gmail.com"> {% trans from 'footer' %}  preference.email {% endtrans %} </a>
                </p>

            </div>
            <div class="col s12 m6 l2">
                <h6>
                    {% trans from 'footer' %} connect.title {% endtrans %}
                </h6>
                <p>
                    <a href="https://mobile.twitter.com/" class="mdi mdi-twitter mdi-24px"> {% trans from 'footer' %}  connect.twitter {% endtrans %} </a>
                </p>
                <p>
                <p>
                    <a href="https://www.linkedin.com/" class="mdi mdi-linkedin mdi-24px"> {% trans from 'footer' %}  connect.link {% endtrans %} </a>
                </p>
                <p>
                    <a href="https://www.facebook.com/"class="mdi mdi-facebook mdi-24px"> {% trans from 'footer' %}  connect.facebook {% endtrans %} </a>
                </p>
                <p>
                    <a href="https://www.youtube.com/"class="mdi mdi-youtube-play mdi-24px"> {% trans from 'footer' %}  connect.youtube {% endtrans %} </a>
                </p>

            </div>
            <div class="col s12 m6 l2">
                <p>
                    <a class="waves-effect waves-light btn  white-text" href="#nav_menu"><i class="material-icons">expand_less</i> </a>
                </p>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container black-text center center-align">
                {% trans from 'footer' %} corporigh.title {% endtrans %}|
                <a href="" class="blue-text"> {% trans from 'footer' %} corporigh.link {% endtrans %} </a>|
                 {% trans from 'footer' %} corporigh.other {% endtrans %}
        </div>
    </div>
</footer>