<div class="row" id="slide">
    <div class="col s12">
        <div class="col m12 s12 " id="zone_img">
            <img src="{{ asset('data/img/slide/slide.jpg') }}">
        </div>
    </div>
</div>