<div class="row" id="slide">
    <div class="col s12">
<<<<<<< HEAD
        <div class="col  s12 m6 nomobile " id="zone_img">
            <img src="{{ asset('data/img/slide/slide.png') }}">
        </div>
        <div class="col  s12 m6 center center-align white-text" id="slide_content">
            <h1><strong>{% trans from 'nav' %} slide.title {% endtrans %}</strong></h1>
            <span>{% trans from 'nav' %} slide.content {% endtrans %}</span>
=======
        <div class="col m12 s12 " id="zone_img">
            <img src="{{ asset('data/img/slide/slide.jpg') }}">
>>>>>>> danickBranch
        </div>
    </div>
</div>

