<div class="carousel carousel-slider center row" data-indicators="true" id="slide">
    <div class="carousel-item color white-text " href="" style="">
        <div class="col s6" id="zone_img">
            <img src="{{ asset('data/img/slide/slide.png') }}">
        </div>
        <div class="col s6">
            <h1><strong>{% trans from 'nav' %} slide.title {% endtrans %}</strong></h1>
            <span>{% trans from 'nav' %} slide.content {% endtrans %}</span>
        </div>
    </div>
</div>