<div class="row" id="slide">
    <div class="col s12">
        <div class="col m6 s12  nomobile " id="zone_img">
            <img src="{{ asset('data/img/slide/slide.png') }}">
        </div>
        <div class="col m6 s12 center center-align white-text" id="slide_content">
            <h1><strong>{% trans from 'nav' %} slide.title {% endtrans %}</strong></h1>
            <span>{% trans from 'nav' %} slide.content {% endtrans %}</span>
        </div>
    </div>
</div>
