<br><br>
<div class="" id="vertical_nav">
    <ul>
        <li><a class=" {% if tabsindex is defined and tabsindex==1 %}active {% endif %}" href="{{ path('main_private') }}">{% trans from 'private' %} private.project  {% endtrans %}</a></li>
        <li><a class=" {% if tabsindex is defined and tabsindex==2 %}active {% endif %}" href="{{ path('main_private_profile') }}" >{% trans from 'private' %} private.profile  {% endtrans %}</a></li>
        <li><a class=" {% if tabsindex is defined and tabsindex==3 %}active {% endif %}" href="{{ path('main_private_commit') }}">{% trans from 'private' %} private.commit  {% endtrans %}</a></li>
        <li><a class=" {% if tabsindex is defined and tabsindex==4 %}active {% endif %}" href="{{ path('main_private_comment') }}">{% trans from 'private' %} private.comment  {% endtrans %}</a></li>
    </ul>
</div>