/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/app/bootstrap.php.cache
/app/config/parameters.yml
/composer.phar
/.idea/
/node_modules/
/src/WebApp/EntityBundle/Entity/*.php~
