$default_text :#E7E7E7; //#725B54;
$secondary_text : yellowgreen; //#5e5e5e;
$auther : #E7E7E7;
$default : white;
$secondary : #111111;
$secondary_color : yellowgreen;
$blue_color : #0083c0;

#navadmin{
  background-color: $default_text;
}

select{
  display: block;

}

#admin_detail{

  #commit_save{
    position: absolute;
    top: 10%;
    right: 0;
    height: 90%;
    width: 30%;
    z-index: 99999999999999999999;
    border-left: $auther 3px solid;
    border-top: $auther 3px solid;
    border-bottom: $auther 3px solid;
    @media screen and (max-width:712px) {
      width: 50%;
    }
    @media screen and (max-width:500px) {
      width: 80%;
    }
    .content
    {
      margin: 1%;
      margin-top: 20% !important ;
    }

  }
  #close_commit{
    background-color: #f44336  !important;
    margin-top: 1%;
  }
}