{% extends 'MainBundle::layout.html.twig' %}
{% block meta %}
    <meta name = "{% trans from 'refer' %} home.title {% endtrans %}" >
    <meta name = "keywords" content = "{% trans from 'refer' %} home.description {% endtrans %}" >
{% endblock %}
{% block title %}
    Semantica Technologies Corporation - STC
{% endblock %}

{% block mycss %}
    <style>

    </style>
{% endblock %}
{% block header %}
    {{ parent() }}
    {% include 'MainBundle:Inc:slide.html.twig' %}
{% endblock %}
{% block  main %}
    <div class="row" id="main_private">

    </div>
{% endblock %}

{% block myjs %}
    <script>

        $(function() {

                {% if message is defined  %}
                    $('#notification').slideDown(100);
                    t = setInterval(function(){
                        $('#notification').slideUp();
                        window.location.href = '{{ path('main_homepage') }}'
                        clearInterval(t);
                    },4000);
                {% endif %}

                var menu = $("#nav");

                var top = menu.offset().top;
                var windowHeight = $(window).height();

                $(window).scroll(function(event){
                    // alert();
                    var scrollTop = $(window).scrollTop();

                    console.log( " -------------------------------------\n\t" +"h ="+windowHeight + " s =" + scrollTop + " top =" +top+ "\n -------------------------------------");

                    if( scrollTop >= top ){
                         //menu.addClass('fixed');
                    }
                    else
                    {
                        //console.log("scroll = " +scrollTop);
                         //menu.removeClass('fixed');
                    }

                });
            });

        $(function(){
            $('.carousel.carousel-slider').carousel({
                full_width: true,
                indicators: true
            });

            /* autoplay();
             function autoplay() {
             $('.carousel').carousel('next');
             setTimeout(autoplay, 450000000000);
             }*/


            function verifMail(champ)

            {

                var regex = new RegExp('^[a-z0-9]+([_|\.|-]{1}[a-z0-9]+)*@[a-z0-9]+([_|\.|-]{1}[a-z0-9]+)*[\.]{1}[a-z]{2,6}$', 'i');

                if(!regex.test(champ))
                {
                    return false;
                }

                else
                {
                    return true;
                }
            }

            var elt = {
                c_email : $('#c_email'),
                name : $('#name'),
                name_error : $('#name_error'),
                message : $('#message'),
                message_error : $('#message_error'),
                send: $("#send"),
                email: $("#email"),
                signup: $("#signup"),
                f: $("#f"),
                form : $('#form'),
                email_error:$("#email_error"),
                c_email_error:$("#c_email_error")
            }

            var locale ='{{ app.request.locale }}';
            var error = {
                email_empty :locale=="en"? "Email address can't be empty":"L'adresse e-mail ne peut  être vide",
                email_format:locale=="en"? "Email adress format is not  correct" : "le format de l'email non respecté",
                name:locale=="en" ? "Name can't be empty" : "Le nom ne peut  pas être vide",
                message: locale=="en" ? "Message can't be empty" : "Le message ne peut  pas être vide"
            }
            elt.signup.click(function(e){

                var test = verifMail(elt.email.val());

                e.preventDefault();
                if(!test)
                {
                    elt.email_error.slideDown();

                }
                else
                {
                    elt.f.submit();
                }

            });

            elt.email.keyup(function(){
                var test = verifMail($(this).val());
                if(test)
                {
                    elt.email_error.slideUp();
                }
            });


            elt.send.click(function(e){
                var message=null;
                e.preventDefault();
                if(!verifMail(elt.c_email.val()))
                {
                    message+= "\n ->" +error.email_format;
                    elt.c_email_error.slideDown();
                }
                if(elt.name.val().trim()=="")
                {
                    message+= "\n ->" +error.name;
                    elt.name_error.slideDown();
                }
                if(elt.message.val().trim()=="")
                {
                    message+= "\n ->" +error.message;
                    elt.message_error.slideDown();
                }

                if(message==null)
                {
                    elt.form.submit();
                    //alert(message);
                }

            });


        });
    </script>
{% endblock %}
