app:
    resource: "@AppBundle/Controller/"
    type:     annotation
    prefix:   /

main:
    resource: "@MainBundle/Controller/"
    type:     annotation
    prefix:   /{_locale}
    requirements:
            _locale: en|fr

admin:
    resource: "@AdminBundle/Controller/"
    type:     annotation
    prefix:   /{_locale}/admin
    requirements:
            _locale: en|fr

entity:
    resource: "@EntityBundle/Controller/"
    type:     annotation
    prefix:   /entity


# FOS USER BUNDLE ROUTES
fos_user_security:
    resource: "@FOSUserBundle/Resources/config/routing/security.xml"
    prefix:   /{_locale}
    requirements:
        _locale: en|fr