$default_text :#E7E7E7; //#725B54;
$secondary_text : yellowgreen; //#5e5e5e;
$auther : #E7E7E7;
$default : white;
$secondary : #111111;
$secondary_color : yellowgreen;
$blue_color : #0083c0;

#nav{

  padding-top: 1%;
  padding-bottom: 6% !important;
  box-shadow: none !important;
  line-height: 62px !important;
  #mobile{
    color: $default_text !important;
  }
  border-bottom: $default_text 1px solid !important;
  #logo{
    color: $default-text !important;
    font-size: 2.1em !important;
    padding-left: 4% !important;
    @media screen and (max-width: 1200px) {
      padding: 1% !important;
      font-size: 1.2em !important;
    }
    @media screen and (max-width: 650px) {
      padding: 1% !important;
      font-size: 0.9em !important;
      width: 71% !important;

    }
  }
  li{
    color: black;
    a{
      color: black;
    }
  }

}

html, body{
  margin-bottom: 0px !important;
  margin-top: 0px !important;
  overflow-x: hidden;
}
footer{
  background-color: $default_text !important;
  color: $secondary !important;
  margin-bottom: 0px !important;
  .row{
    padding-left: 4% !important;
    padding-right: 4% !important;
  }
  .page-footer, .footer-copyright
  {
    height: 5px;
  }
  .footer-copyright{
    margin: 0% !important;
  }

  a{
    color: inherit !important;
  }
  h6{
    font-weight: bold !important;
  }
}


#slide{
  margin: 0% !important;
  padding: 0% !important;
}


.fixed
{
  position:fixed;
  top:0px;
  left:0px;
  margin-bottom: 4% !important;
  z-index:999999999999999 !important;
  background-color: $default_text !important;
  width:100% !important;
  font-weight:bold !important;
  transition : all 5s !important;
  color: $default !important;
  a{
    color: $default !important;
  }

  .mobile{
    color: $default !important;
  }
  #logo{
    color: $default !important;
  }

}


.fixNavigation{
  z-index: 9999;
  position: fixed !important;
  top: 0px !important;
  padding-top: 1% !important;
  /* Mise en forme */
  width: 100% !important; /* <-- Largeur de votre site */
  height: 70px !important;
  @media screen and (max-width: 600px){
    background-color: white !important;
  }
}

.btn{
  background-color: $secondary_text !important;
}
.error{
  color: red !important;
  background: transparent !important;
}