
body, html {height: 100%; }
.first-row {
  height: 36px;
  background-color: $auther;
  color: black;
  padding-right: 300px;
}

.first-row-menu {
  height: 36px;
  float: right!important;
  padding-bottom: 20px!important;
}

.first-row-menu ul li {
  display: inline;
  padding-right: 5px;
}

.first-row-menu ul li.midline-menu:after {
  color:black;
  content: "   |";
}

.first-row-menu ul li a {
  color: $secondary !important;
}

.first-row-menu ul li a:hover {
  color:$blue_color !important;
  font-weight: bold;
  background-color: $auther !important;
}

.first-row-menu {
  display: inline-block;
  margin-bottom: 15px;
}

.first-row-menu ul {
  display: inline-block;
  margin-top: 6px;
}

.mobile_menu_icon {
  display: none;
}

.displaynone {
  display: none;
}

.display-on {
  display: inline-block;
}

@media screen and (max-width: 600px) {

  .mobile_menu_icon {
    display: inline-block;
    float: right;
    margin-right: 15px;
  }

  .first-row-menu {
    height: auto;
    float: right!important;
    padding-bottom: 20px!important;
    position: relative;
    z-index: 999999;
  }

  .first-row-menu ul li {
    display: block;
    padding-right: 5px;
  }

  .first-row {
    height: 100%;
    padding-right: 10px;
    width: 85%;
    float: left;
    margin-top: 0px;
    margin-right: 5px;
    position: relative;
    z-index: 999999;
    box-shadow: 5px 5px 2px #888888;
    opacity: 0.9;
    border-top: 2px solid red;
  }
}