.first-row {
  height: 36px;
  background-color: #4D4F53;
  background-color: #f4f4f4;
  color: black;
  padding-right: 300px;
}

.first-row-menu {
  height: 36px;
  float: right!important;
  padding-bottom: 20px!important;
}

.first-row-menu ul li {
  display: inline;
  padding-right: 5px;
}

.first-row-menu ul li.midline-menu:after {
  color:black;
  content: "   |";
}

.first-row-menu ul li a:hover {
  color:blue;
  text-decoration: underline;
}

.first-row-menu {
  display: inline-block;
  margin-bottom: 15px;
}

.first-row-menu ul {
  display: inline-block;
  margin-top: 6px;
}