$default_text : #725B54;
$secondary_text : #5e5e5e;
$default : white;
$secondary : #111111;

#nav{
  padding-top: 1%;
  padding-bottom: 6% !important;
  box-shadow: none !important;
  line-height: 62px !important;
  #mobile{
    color: $default_text !important;
  }
  border-bottom: $default_text 1px solid !important;
  #logo{
    color: $default-text !important;
    font-size: 2.1em !important;
    padding-left: 4% !important;
    @media screen and (max-width: 1200px) {
      padding: 1% !important;
      font-size: 1.2em !important;
    }
    @media screen and (max-width: 650px) {
      padding: 1% !important;
      font-size: 0.9em !important;
      width: 71% !important;

    }
  }
  li{
    color: black;
    a{
      color: black;
    }
  }

}

html, body{
  margin-bottom: 0px !important;
  margin-top: 0px !important;
  overflow-x: hidden;
}

footer{
  background-color: $default_text !important;
  margin-bottom: 0px !important;
  .page-footer, .footer-copyright
  {
    height: 5px;
  }
}

#slide{
  min-height: 175px !important;
  margin: 0% !important;
  padding: 0% !important;
  @media screen and (min-width: 600px) {
    min-height: 175px !important;
    height: 400px !important;
  }
  div:first-child{
    padding: 0px !important;
    background-color: $default_text !important;
    div{
      padding: 0% !important;
      margin: 0% !important;
    }
  }

  #zone_img
  {
    padding: 0px !important;
    height: 100% !important;
    width: 50% !important;
    float: left;
    img{
      height: 100% !important;
      max-width: 100% !important;
      max-height: 400px !important;
    }
    @media screen and (max-width: 414px) {
      display: none;
    }

    /*cacher l'image pour les telephone mobile*/
    @media screen and (max-width: 600px) {
      display: none;
    }


  }

  /*CSS general pour les larges ecran */
  #slide_content{
    h1{
      font-size: 4.1em !important;
    }
    span{
      font-size: 1.5em !important;
    }
  }

  #slide_content{
    padding-left: 1% !important;
    padding-right: 1% !important;
  }
  @media screen and (max-width: 1200px) {

    #slide_content{
      h1{
        font-size: 3em !important;
      }
      span{
        font-size: 1.5em !important;
      }
    }
  }

  /*CSS pour ipad */
  @media screen and (max-width: 736px) {

    #slide_content{
      h1{
        font-size: 1.5em !important;
      }
      span{
        font-size: 1em !important;
      }
    }
  }


  @media screen and (max-width: 1000px) {

    #slide_content{
      width: 50% !important;
      float: right;
      h1{
        font-size: 2.6em !important;
      }
    }
  }

  @media screen and (max-width: 600px) {
    height: 150px !important;

    #slide_content{
      width: 100% !important;
      h1{
        font-size: 1.5em !important;
      }
      span{
        font-size: 1em !important;
      }
    }
  }

  @media screen and (max-width: 414px) {

    #slide_content{
      padding: 2% !important;
      h1{
        font-size:2em !important;
      }
      span{
        font-size: 1em !important;
      }
    }
  }


  @media screen and (max-width: 322px) {
    min-height: 214px !important;
    height: 214px !important;
    img{
      height: calc(100% - 200px) !important;
    }
    #slide_content{
      h1{
        font-size: 1.5em !important;
      }
      span{
        font-size: 1em !important;
      }
    }
  }

}

.fixed
{
  position:fixed;
  top:0px;
  left:0px;
  margin-bottom: 4% !important;
  z-index:999999999999999 !important;
  background-color: $default_text !important;
  width:100% !important;
  font-weight:bold !important;
  transition : all 5s !important;
  color: $default !important;
  a{
    color: $default !important;
  }

  .mobile{
    color: $default !important;
  }
  #logo{
    color: $default !important;
  }

}

