#main_index{


    label,h5,h6{
      color: $secondary_text !important;
    }
  h6{
    font-size: 1.5rem !important;
  }
  h5{
    font-weight: bold !important;
    font-size: 2.5rem !important;
  }


    text-align: center !important;
    #section{
      text-align: center !important;
      p{
        color: $secondary_text !important;
      }
      img{
        width: inherit !important;
      }
    }

    #sendmail{
      min-height: 136px !important;
      background-color: $default_text !important;
      color: $default;
      h5,label{
        color: $default !important;
      }
      button{
        margin-top: 12% !important;
        background-color: $default !important;
        color: $secondary_text;
        font-weight: bold !important;
        border-radius: 1000px !important;
      }
      h5{
        margin-top: 9% !important;
      }
      @media  screen and (max-width: 600px){

      }
    }

  #contact{
    background-color: $default !important;
    padding-top: 2% !important;
    padding-bottom: 4% !important;
    button{
      background-color: $secondary_text !important;
      color: $default;
      font-weight: bold !important;
      border-radius: 1000px !important;
    }
  }
  form{
    label,h5{
      text-align: justify !important;
    }
  }

  #last{
    line-height: 18px !important;
  }

  img{
    width: 90% !important;
  }



}

#main_confirm{
  .card{
    padding: 4% !important;
    text-align: center;
  }
}





