<br><br>
<div id="idhorizontal_nav">
    <ul>
        <li><a class=" col s3 center-align center {% if tabsindex is defined and tabsindex==1 %}active_ok {% endif %}" href="{{ path('main_private') }}">{% trans from 'private' %} private.project  {% endtrans %}</a></li>
        <li><a class="col s3 center-align center {% if tabsindex is defined and tabsindex==2 %}active_ok {% endif %}" href="{{ path('main_private_profile') }}" >{% trans from 'private' %} private.profile  {% endtrans %}</a></li>
        <li><a class=" col s3 center-align center {% if tabsindex is defined and tabsindex==3 %}active_ok {% endif %}" href="{{ path('main_private_commit') }}">{% trans from 'private' %} private.commit  {% endtrans %}</a></li>
        <li><a class=" col s3 center-align center {% if tabsindex is defined and tabsindex==4 %}active_ok {% endif %}" href="{{ path('main_private_comment') }}">{% trans from 'private' %} private.comment  {% endtrans %}</a></li>
    </ul>
</div>
