{% extends 'MainBundle::layout.html.twig' %}
{% block meta %}
    <meta name = "{% trans from 'refer' %} home.title {% endtrans %}" >
    <meta name = "keywords" content = "{% trans from 'refer' %} home.description {% endtrans %}" >
{% endblock %}
{% block title %}
    Semantica Technologies Corporation - STC / Contact
{% endblock %}

{% block mycss %}
    <style>

    </style>
{% endblock %}
{% block header %}
    {{ parent() }}
    {% include 'MainBundle:Inc:slide.html.twig' %}
{% endblock %}

{% block  main %}
    <div class="row" id="main_contact">

        <div class="row">


            <div class="section">
                <h5 class="center-align" style="color: #9acd32"><strong>{% trans from 'contact' %} contact.title {% endtrans %}</strong></h5>
                <br> <br>
                <div class="col s12">
                    <img width="1024"  src="{{ asset('data/img/contact.jpg') }}" alt="">
                    <table>
                        <thead>
                        <th style="font-size: 150%"> {% trans from 'contact' %} contact.cameroun {% endtrans %} </th>

                        </thead>
                        <tbody>
                        <tr>
                            <td>

                                <p><b>{% trans from 'contact' %} contact.ville1 {% endtrans %}</b><i>{% trans from 'contact' %} contact.ville1_content {% endtrans %}</i></p>
                                <p><b>{% trans from 'contact' %} contact.ville2 {% endtrans %}</b><i>{% trans from 'contact' %} contact.ville2_content {% endtrans %}</i></p>
                                <br><br><b></b>



                            </td>
                            <td>
                                <p>{% trans from 'contact' %} contact.cameroun_phone {% endtrans %} </p>
                                <p>{% trans from 'contact' %} contact.Tall-Free {% endtrans %} </p>
                                <p>{% trans from 'contact' %} contact.Fax {% endtrans %} </p>
                                <a href="http://camerounstc@yahoo.fr"><u>Email</u></a>


                            </td>
                            <td>
                                <p>{% trans from 'contact' %} contact.support {% endtrans %} </p>
                                <p><a href="#">{% trans from 'contact' %} contact.submit {% endtrans %} </a></p>
                                <br><br>

                            </td>

                        </tr>

                        </tbody>
                        <thead>

                        <th style="font-size: 150%"> {% trans from 'contact' %} contact.etranger {% endtrans %} </th>

                        </thead>
                        <tbody>
                        <tr>
                            <td>

                                <p><b>{% trans from 'contact' %} contact.london {% endtrans %}</b><i>{% trans from 'contact' %} contact.london_content {% endtrans %}</i></p>
                                <p><b>{% trans from 'contact' %} contact.paris {% endtrans %}</b><i>{% trans from 'contact' %} contact.paris_content {% endtrans %}</i></p>
                                <br><br><b></b>



                            </td>
                            <td >
                                <p>{% trans from 'contact' %} contact.london_phone {% endtrans %} </p>
                                <p>{% trans from 'contact' %} contact.Tall-Free {% endtrans %} </p>
                                <p>{% trans from 'contact' %} contact.Fax {% endtrans %} </p>
                                <a href="http://camerounstc@yahoo.fr"><u>Email</u></a>


                            </td>
                            <td >
                                <p>{% trans from 'contact' %} contact.support {% endtrans %} </p>
                                <p><a href="#">{% trans from 'contact' %} contact.submit {% endtrans %} </a></p>
                                <br><br>

                            </td>

                        </tr>

                        </tbody>




                    </table>
                </div>

            </div>
        </div>
    </div>
{% endblock %}

{% block myjs %}
    <script>

    </script>
{% endblock %}
