{% extends 'MainBundle::layout.html.twig' %}
{% block title %}
    Semantica Technologies Corporation - STC-Confirm
{% endblock %}

{% block mycss %}
    <style>
        .card{
            padding: 4% !important;
            text-align: center;
        }
    </style>
{% endblock %}
{% block header %}
    {{ parent() }}
    {% include 'MainBundle:Inc:slide.html.twig' %}
{% endblock %}
{% block  main %}
    <div class="row" id="main_confirm">
       <div class="col s12">
           <div class="card  light-blue accent-3  white-text">
             <h5>
                 {% trans from 'confirm' %} confirm.content {% endtrans %}
             </h5>
           </div>
       </div>
    </div>
{% endblock %}

{% block myjs %}
    <script>

            $(function(){

                var menu = $("#nav");

                var top = menu.offset().top;
                var windowHeight = $(window).height();

                $(window).scroll(function(event){
                    // alert();
                    var scrollTop = $(window).scrollTop();

                    console.log( " -------------------------------------\n\t" +"h ="+windowHeight + " s =" + scrollTop + " top =" +top+ "\n -------------------------------------");

                    if( scrollTop >= top ){
                         //menu.addClass('fixed');
                    }
                    else
                    {
                        //console.log("scroll = " +scrollTop);
                         //menu.removeClass('fixed');
                    }

                });
            });

        $(function(){
            $('.carousel.carousel-slider').carousel({
                full_width: true,
                indicators: true
            });

            /* autoplay();
             function autoplay() {
             $('.carousel').carousel('next');
             setTimeout(autoplay, 450000000000);
             }*/


            function verifMail(champ)

            {

                var regex = /^[a-zA-Z0-9._-]+@[a-z0-9._-]{2,}\.[a-z]{2,4}$/;

                if(!regex.test(champ))
                {
                    return false;
                }

                else
                {
                    return true;
                }
            }

            var elt = {
                c_email : $('#c_email'),
                name : $('#name'),
                message : $('#message'),
                send: $("#send"),
                email: $("#email"),
                signup: $("#signup"),
                f: $("#f"),
                form : $('#form')
            }

            var locale ='{{ app.request.locale }}';
            var error = {
                email_empty :locale=="en"? "Email address can't be empty":"L'adresse e-mail ne peut  être vide",
                email_format:locale=="en"? "Email adress format is not  correct" : "le format de l'email non respecté",
                name:locale=="en" ? "Name can't be empty" : "Le nom ne peut  pas être vide",
                message: locale=="en" ? "Message can't be empty" : "Le message ne peut  pas être vide"
            }
            elt.signup.click(function(e){
                if(elt.email.val().trim()=="")
                {
                    alert(error.email_empty);
                    e.preventDefault();
                }
                if(!verifMail(elt.email.val()))
                {
                    alert(error.email_format);
                    e.preventDefault();
                }

            });


            elt.send.click(function(e){
                var message=null;
                if(elt.c_email.val().trim()=="")
                {
                    message+= "\n ->" +error.email_empty;

                }
                if(!verifMail(elt.email.val()))
                {
                    message+= "\n ->" +error.email_format;

                }
                if(elt.name.val().trim()=="")
                {
                    message+= "\n ->" +error.name;

                }
                if(elt.message.val().trim()=="")
                {
                    message+= "\n ->" +error.message;

                }

                if(message!=null)
                {
                    e.preventDefault();
                    alert(message);
                }

            });


        });
    </script>
{% endblock %}
