{% extends 'MainBundle::layout.html.twig' %}
{% block meta %}
    <meta name = "description" content = "Autosavetime (Gagner automatiquement en temps) est  une application conçue par les soins de SCI-AIC (Donc son promoteur ALAIN TAKAM) à pour objectif  final d'optimiser les heures de maintance automobile à plusieurs de ses partenaires (Garage, particulier, socièté)." >
    <meta name = "keywords" content = "garage, gestion du  temps, gestion des heures de maintenance, optimisation du  temps de travail, gagner en temps, gerer le mecanicien, bien gerer, apprendre à prévoir" >
{% endblock %}
{% block title %}
    Semantica Technologies Corporation - STC
{% endblock %}

{% block mycss %}
    <style>

    </style>
{% endblock %}

{% block  main %}
    <div class="row" id="main_index">
            je suis la page ede test
    </div>
{% endblock %}

{% block myjs %}
    <script>

        $(function(){
            $(function(){

                //  var options = [ {selector: '#menutop', offset: 50, callback: function(el) { Materialize.toast("This is our ScrollFire Demo!", 1500 ); } }, {selector: '#menutop', offset: 205, callback: function(el) { Materialize.toast("Please continue scrolling!", 1500 ); } }, {selector: '#menutop', offset: 400, callback: function(el) { Materialize.showStaggeredList($(el)); } }, {selector: '#menutop', offset: 500, callback: function(el) { Materialize.fadeInImage($(el)); } } ];
                //  Materialize.scrollFire(options);
                var menu = $("#head_index nav");

                var top = menu.offset().top;
                var windowHeight = $(window).height();

                $(window).scroll(function(event){
                    // alert();
                    var scrollTop = $(window).scrollTop();

                    console.log( " -------------------------------------\n\t" +"h ="+windowHeight + " s =" + scrollTop + " top =" +top+ "\n -------------------------------------");

                    if( scrollTop >= top ){
                        // menu.addClass('fixed');
                    }
                    else
                    {
                        //console.log("scroll = " +scrollTop);
                        // menu.removeClass('fixed');
                    }

                });
            });


            $('.carousel.carousel-slider').carousel({
                full_width: true,
                indicators: true
            });
            autoplay();
            function autoplay() {
                $('.carousel').carousel('next');
                setTimeout(autoplay, 4500);
            }

        });

    </script>
{% endblock %}
