{% extends '::base.html.twig' %}

{% block header %}
    {% include 'AdminBundle:Inc:nav.html.twig' %}
{% endblock %}

{% block content %}
    <div class="container">
        {% block main %}

        {% endblock %}
    </div>

{% endblock %}

{% block footer %}
    {% include 'MainBundle:Inc:footer.html.twig' %}
{% endblock %}

{% block myjs %}

{% endblock %}