{% extends 'AdminBundle::layout.html.twig' %}
{% block meta %}

{% endblock %}
{% block title %}
    Semantica Technologies Corporation - STC - Admin- Login
{% endblock %}

{% block mycss %}
    <style>
        .home{
            padding-top: 100px;
            height: 100%;
            background-image: url("{{ asset('data/img/test3.png') }}");
            background-size: cover;
        }
        .home .row
        {
            margin-bottom: 0px!important;
        }
        .HG-1{
            margin-bottom: 32px!important;
        }
        .HG-1 span{
            font-size: 24px;
        }

        .HG-2 span{
            font-size: 44px;

        }
        .HG-3 span{
            font-size: 14px;
            font-weight: 300;
        }
        .HG-5{
            margin: 12px!important;
        }
        .error{
            color: red;
        }
        body,html{
            height: 100%;
        }
        button{
            background-color: #5e5e5e !important;
        }
    </style>
{% endblock %}

{% block  header %}
    <div class="home container-fluid">
        <div class="row  HG-1">
            <span class="col s12 green-text center-align">
                {% trans from 'nav' %} login.title {% endtrans %}
            </span>
        </div>
        <div class="row  HG-2 hide-on-small-only">
            <span class="col s12 green-text center-align">
                 {% trans from 'nav' %} login.title_br {% endtrans %}
            </span>
        </div>

        <div class="row  HG-3 ">
            <strong class="col s12 m6 offset-m3 black-text center-align">
                {% trans from 'nav' %} login.content {% endtrans %}
            </strong>
        </div>
        <div class="row">
            <div class="col s12 m4 offset-m4">
                <div class="card  ">
                    <div class="card-content white-text">
                        <span class="card-title black-text center-align col s12 "> {% trans from 'nav' %} login.login {% endtrans %}</span>
                        <form action="{{ path('fos_user_security_check') }}" class="row s12 black-text" method="post">

                            <div class="input-field col s12">
                                <input placeholder=" {% trans from 'nav' %} login.email {% endtrans %}" id="username" name="_username" value="{{ last_username }}" required="required" type="text" class="validate">
                                <label for="username"> {% trans from 'nav' %} login.identity {% endtrans %}</label>
                            </div>
                            <div class="input-field col s12">
                                <input placeholder=" {% trans from 'nav' %} login.passord_pl {% endtrans %}" id="password" name="_password" required="required" class="validate" type="password">
                                <label for="password"> {% trans from 'nav' %} login.password {% endtrans %}</label>
                            </div>

                            <div class="col s12">
                                <div class="col m6 s12">
                                    <button type="submit" class="waves-effect btn  waves-light "> {% trans from 'nav' %} login.connection {% endtrans %}</button>
                                </div>
                            </div>
                            <div class="row error" >
                                {% if error is defined %}
                                    {% trans from 'nav' %} login.error {% endtrans %}
                                {% endif %}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}

{% endblock %}
{% block myjs %}
    <script>

    </script>
{% endblock %}
