<br>
<span id="help_planning" style="display: none;">{% trans from 'forms' %} form.planning.detail {% endtrans %}</span>
<table class="bordered highlight centered responsive-table">
    <thead>
    <tr>
        <th>{% trans from 'forms' %} form.planning.startdate {% endtrans %}</th>
        <th>{% trans from 'forms' %} form.planning.startdate {% endtrans %}</th>
        <th>{% trans from 'forms' %} form.planning.tasknb {% endtrans %}</th>
        <th>{% trans from 'forms' %} form.planning.task {% endtrans %}</th>
    </tr>
    </thead>

    <tbody>
    {% if items!=null %}
        {% for item in items %}
           <tr>
               <td>{{ item.planning.startdate|date('d-m-y') }}</td>
               <td>{{ item.planning.enddate|date('d-m-y') }}</td>
               <td>{{ item.tasks|length }}</td>
               <td><a href="{{ path('main_projet_task',{id:item.planning.id}) }}" class="tooltipped detail_planning" data-position="top" data-delay="50"  data-tooltip="more detail" ><i class="material-icons">view_headline</i></a></td>
           </tr>
        {% endfor %}
    {% else %}
        <tr>
            <td colspan="6">
                <h6> {% trans from 'forms' %} form.planning.empty {% endtrans %}</h6>
            </td>
        </tr>
    {% endif %}
    </tbody>
</table>


