{% extends 'MainBundle::layout.html.twig' %}
{% block meta %}
    <meta name = "{% trans from 'refer' %} industries.title {% endtrans %}" >
    <meta name = "keywords" content = "{% trans from 'refer' %} industries.description {% endtrans %}" >
{% endblock %}
{% block title %}
    Semantica Technologies Corporation - STC / Industries
{% endblock %}

{% block mycss %}
    <style>

    </style>
{% endblock %}
{% block header %}
    {{ parent() }}
    {% include 'MainBundle:Inc:slide.html.twig' %}
{% endblock %}

{% block  main %}
    <div class="row" id="main_industries">

        <div class="row">


            <div class="section">
                <h5 class="center-align"> {% trans from 'aboutstc' %} learnmore.title {% endtrans %} </h5>
                <br> <br>
                <div class="col s12 m6">
                    <img width="45" src="{{ asset('data/img/leadership.jpg') }}" alt="">
                </div>
                <div class="col s12 m6">
                    <h6> {% trans from 'aboutstc' %} learnmore.block1 {% endtrans %} </h6>
                    <p>
                        {% trans from 'aboutstc' %} learnmore.block1_content {% endtrans %}
                    </p>
                    <br>
                    <h6> {% trans from 'aboutstc' %} leadership.title2 {% endtrans %} </h6>
                    <p>
                        {% trans from 'aboutstc' %} leadership.our_content2 {% endtrans %}
                    </p>
                    <br>
                    <h6> {% trans from 'aboutstc' %} leadership.title3 {% endtrans %} </h6>
                    <p>
                        {% trans from 'aboutstc' %} leadership.our_content3 {% endtrans %}
                    </p>

                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block myjs %}
    <script>

    </script>
{% endblock %}
